CoordManage/CoordManage_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://CoordManage" xmlns:tns="http://CoordManage" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="saveCoordenada">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="coordenada" nillable="true" type="tns:Coordenada"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="saveCoordenadaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" nillable="true" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    <xsd:complexType name="Coordenada">
    <xsd:sequence>
      <xsd:element name="latitud" type="xsd:float"/>
      <xsd:element name="longitud" type="xsd:float"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="Coordenadas">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="coordenada" type="tns:Coordenada"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="getCoordenada">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="usuario" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="getCoordenadaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="coordenada" nillable="true" type="tns:Coordenadas"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>